work/
RESULTS/
results/
OLD_RESULTS/
trace*
core*
*.json
*.pyc
*.fil
*.html
.bdm*
**/*.bdm
.nextflow*
secrets.config
Thoughts.txt
.*env
__pycache__
kafka_env/
include/ml_models/
HR_STREAM_ID_1-5.csv
template_bank_upgrade_plan.txt
nf_config_for_data_upload.cfg
semi_coherent_searches.py
