apptainer {
        enabled = true
        runOptions = '--env="CUDA_VISIBLE_DEVICES=${CUDA_VISIBLE_DEVICES}" -B /b -B /bscratch -B /homes --nv'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
    }

    env {
        APPTAINER_IMAGE_PATH = "/b/u/vishnu/SINGULARITY_IMAGES"
    }

    params {
        
        //For Database entry
        hardware = "Contra"
        apptainer_images {

        peasoup = "${env.APPTAINER_IMAGE_PATH}/peasoup_sm89.sif"
        presto = "${env.APPTAINER_IMAGE_PATH}/pulsar-miner_turing-sm75.sif"
        pulsarx = "${env.APPTAINER_IMAGE_PATH}/pulsarx_latest.sif" 
        sql = "${env.APPTAINER_IMAGE_PATH}/compact_sql_latest.sif"   
        kafka = "${env.APPTAINER_IMAGE_PATH}/kafka_producer_latest.sif"
        pics  = "${env.APPTAINER_IMAGE_PATH}/pics_20230630_pics_model_update.sif"
        candy_picker = "${env.APPTAINER_IMAGE_PATH}/candy_picker_latest.sif"

        }
        publish_dir_prefix = "/b/PROCESSING"    
    }

// Run Locally

    process {
        executor = 'local'
    }