
// Config file for Hercules cluster

//Set up singularity containers and mount path
singularity {
    enabled = true
    runOptions = '--nv -B /hercules'
}

process {
    executor = 'slurm'

    withLabel: 'short' {
        cpus = 24
        memory = '10 GB'
        queue = 'short.q'
        time = '4h'
    }

    withLabel: 'long' {
        cpus = 1
        memory = '20 GB'
        queue = 'long.q'
        time = '10d'
    }

    withLabel: 'gpu' {
    cpus = 1
    memory = '20 GB'
    queue = 'gpu.q'
    time = '4h'
    clusterOptions = '--gres=gpu:1'
    }

    withLabel: 'gpu_short' {
    cpus = 1
    memory = '20 GB'
    queue = 'short.q'
    time = '1h'
    clusterOptions = '--gres=gpu:1'
    }

    withLabel: 'long_multi' {
        cpus = 48
        memory = '250 GB'
        queue = 'long.q'
        time = '10d'
    }

}



