//Database plug 

plugins {
    id 'nf-sqldb'
}


sql {
    db {
        compact {
            url = 'jdbc:mysql://localhost:3306/compact?serverTimezone=UTC'
            user = 'root'
            password = 'test123'
        }
    }
}



//Pipeline defaults
params {

// Readfile parser 
  readfile_parser = "${baseDir}/readfile_parser.sh"

// Peasoup
    min_snr = "8.0"
    acc_start = "-30.0"
    acc_end = "30.0"
    ram_limit_gb = "30.0"
    nh = "4"
    ngpus = "1"
    total_cands_limit = "100000"
    fft_size = "67108864"
    dm_file = "${baseDir}/dm_file.txt"


// Filtool

    telescope = "meerkat"

// rfifind

    rfifind_time = "2.2"
    rfifind_freqsig = "3.0"
    rfifind_timesig = "10.0"
    rfifind_intfrac = "0.3"
    rfifind_chanfrac = "0.7"
    rfifind_nthreads = "4"
    

// folding 
  
    fold_script = "${baseDir}/fold_peasoup_candidates.py"
    pulsarx_fold_template = "${baseDir}/meerkat_fold.template"
    

}

tower {
    accessToken = 'eyJ0aWQiOiA3OTkzfS40MDQwMTM1ZmY0OWZmNGE4MWNlZTI2Mzk2ZGJjY2QwYmFlZWNlMjZj'
    enabled = true
}


profiles {
   hercules {
    includeConfig 'hercules.config'
  }
  ozstar {
    includeConfig 'ozstar.config'
  }
  nt {
    includeConfig 'nt.config'
  }
  }


