// Obtain current hostname
def hostname = "hostname".execute().text.trim().replace("-", "")

// Check if this configuration is being loaded on the expected cluster
def expectedHostname = "tooarrana1" // 


if (!hostname.startsWith(expectedHostname)) {
    throw new IllegalStateException("""
    ===============================================================
    ERROR: You are trying to run the pipeline on the '${hostname}' cluster
    but the configuration is specifically for the '${expectedHostname}' cluster.
    Please ensure you're using the correct configuration/profile.
    ===============================================================
    """.stripIndent())
}
    
    //Set up apptainer containers and mount path
    apptainer {
        enabled = true
        runOptions = '--env PYTHONNOUSERSITE=1 --nv -B /fred -B $HOME:$HOME'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
    }

    env {
        APPTAINER_IMAGE_PATH = "/fred/oz002/vishnu/singularity_images"
    }


    params {
        
        hardware = "Ngarrgu"
        publish_dir_prefix = "/fred/oz002/vishnu/COMPACT/PROCESSING"   

        apptainer_images {

        peasoup = "${env.APPTAINER_IMAGE_PATH}/peasoup_latest.sif"
        presto = "${env.APPTAINER_IMAGE_PATH}/pulsar-miner_turing-sm75.sif"
        pulsarx = "${env.APPTAINER_IMAGE_PATH}/pulsarx_dev1.sif" 
        pics  = "${env.APPTAINER_IMAGE_PATH}/pics_20230630_pics_model_update.sif"
        candy_picker = "${env.APPTAINER_IMAGE_PATH}/candy_picker_latest.sif"

        }
       
    }



   // SLURM Executor for Ngarrgu Tindebeek (NT)

   executor {
        name = 'slurm'               
        pollInterval = '1 min'       // Determines how often to check for process termination. 
        queueSize = 2000               // Maximum number of jobs submitted at once
    }

    process {
        cache = 'lenient'

         withLabel: 'filtool' {
            cpus = 4
            memory = { 12.GB * task.attempt }
            time = { 4.hour * task.attempt }
            clusterOptions = '--tmp=200GB'
            maxForks = 400
            errorStrategy = { task.exitStatus in (137..140) || task.exitStatus == 124 ? 'retry' : 'ignore' }
            maxRetries = 3
            beforeScript   = "module load apptainer"

            // Force scratch = false if local_write = 0 (to prevent double copies)
            if (params.filtool.local_write == 0) {
                scratch = false  
            } 
            else {
                scratch = '$JOBFS'
            }

        }

         withLabel: 'pulsarx' {
            cpus = 10
            memory = { 25.GB * task.attempt }
            time = { 4.hour * task.attempt }
            clusterOptions = '--tmp=200GB'
            scratch = '$JOBFS'
            maxForks = 250
            errorStrategy = { task.exitStatus in (137..140) || task.exitStatus == 124 ? 'retry' : 'ignore' }
            maxRetries = 3
            beforeScript   = "module load apptainer"

        }

        withLabel: 'peasoup' {
            cpus = 1
            memory = 80.GB
            //{
            //switch (program_args.fft_size) {
            //    case 268435456: return 24.GB * task.attempt
            //    case 134217728: return 20.GB * task.attempt
            //    case 67108864:  return 15.GB * task.attempt
            //    case 33554432:  return 10.GB * task.attempt
            //    default:        return 20.GB * task.attempt  // Default case
            //}
        //}        
            //queue = { (program_args.fft_size <= 134217728) ? "skylake-gpu" : "milan-gpu" }
            time = { 16.hour * task.attempt }  
            clusterOptions = '--gres=gpu:1 --tmp=150GB'
            scratch = '$JOBFS'
            errorStrategy = { task.exitStatus in (137..140) || task.exitStatus == 124 ? 'retry' : 'terminate' }
            maxRetries = 3
            beforeScript   = "module load apptainer"

     }

        withLabel: 'pics' {
            cpus = 4
            memory = { 4.GB * task.attempt }
            time = { 1.hour * task.attempt }  
            errorStrategy = { task.exitStatus in (137..140) || task.exitStatus == 124 ? 'retry' : 'ignore' }
            maxRetries = 3
            clusterOptions = '--tmp=100GB'
            scratch = '$JOBFS'
            maxForks = 400
            beforeScript   = "module load apptainer"

        }

        withLabel: 'post_folding_heuristics' {
            cpus = 4
            memory = { 3.GB * task.attempt }
            time = { 4.hour * task.attempt }  
            errorStrategy = { task.exitStatus in (137..140) || task.exitStatus == 124 ? 'retry' : 'ignore' }
            maxRetries = 3
            clusterOptions = '--tmp=100GB'
            scratch = '$JOBFS'
            maxForks = 400
            beforeScript   = "module load apptainer"

        }

        withLabel: 'candy_picker' {
            cpus = 1
            memory = 2.GB 
            time = 2.hour 
            errorStrategy = 'terminate'
            clusterOptions = '--tmp=10GB'
            scratch = false // -> DO NOT TURN SCRATCH ON. candy_picker creates dynamic path and is written in a very non-nextflow way for a specific reason. $TMPFS is not supported.
            maxForks = 400
            beforeScript   = "module load apptainer"

        }

    }
