// Obtain current hostname
def hostname = "hostname".execute().text.trim().replace("-", "")

// Check if this configuration is being loaded on the expected cluster
def expectedHostname = "farnarkle" // 


if (!hostname.startsWith(expectedHostname)) {
    error """
    ===============================================================
    ERROR: You are trying to run the pipeline on the '${hostname}' cluster
    but the configuration is specifically for the '${expectedHostname}' cluster.
    Please ensure you're using the correct configuration/profile.
    ===============================================================
    """
}
    
    module = ['java/17.0.4', 'apptainer/latest']

    //Set up apptainer containers and mount path
    apptainer {
        enabled = true
        runOptions = '-B /fred --nv'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
    }

    env {
        APPTAINER_IMAGE_PATH = "/fred/oz005/users/vishnu/SINGULARITY_IMAGES"
    }

    params {
        
        data_dir = "/fred/oz005/users/vishnu/DATA"
        fil_files = "${params.data_dir}/M30*.fil"
        search_singularity_image = "${env.APPTAINER_IMAGE_PATH}/peasoup_latest.sif"
        presto_singularity_image = "${env.APPTAINER_IMAGE_PATH}/pulsar-miner_turing-sm75.sif"
        fold_singularity_image = "${env.APPTAINER_IMAGE_PATH}/pulsarx_latest.sif"        
    }



   // SLURM Executor for OzSTAR

    process {
        module = 'apptainer/latest'
        cache = 'lenient'
        executor = 'slurm'

        withLabel: 'short' {
            cpus = 1
            memory = '5 GB'
            queue = 'skylake'
            time = '2h'
            clusterOptions = '--tmp=200GB'
            scratch = '$JOBFS'
            //beforeScript   = 'module load ${params.module}'


        }

         withLabel: 'filtool' {
            cpus = 4
            memory = '5 GB'
            queue = 'skylake'
            time = '3h'
            clusterOptions = '--tmp=200GB'
            scratch = '$JOBFS'
            //beforeScript   = "module load ${params.module}"




        }

          withLabel: 'prepfold' {
            cpus = 4
            memory = '5 GB'
            queue = 'skylake'
            time = '3h'
            clusterOptions = '--tmp=200GB'
            scratch = '$JOBFS'
            //beforeScript   = "module load ${params.module}"


        }

        withLabel: 'peasoup' {
        cpus = 1
        memory = '50 GB'
        queue = 'skylake-gpu'
        time = '1h'
        clusterOptions = '--gres=gpu:1 --tmp=200GB'
        scratch = '$JOBFS'
        }

        withLabel: 'long' {
            cpus = 1
            memory = '5 GB'
            queue = 'skylake'
            time = '7d'
            clusterOptions = '--tmp=200GB'
            scratch = '$JOBFS'
            //beforeScript   = 'module load ${params.module}'

        }

        withLabel: 'gpu' {
        cpus = 1
        memory = '20 GB'
        queue = 'skylake-gpu'
        time = '12h'
        clusterOptions = '--gres=gpu:1 --tmp=200GB'
        scratch = '$JOBFS'
        //beforeScript   = "module load ${params.module}"
        }

        withLabel: 'gpu_short' {
        cpus = 1
        memory = '50 GB'
        queue = 'skylake-gpu'
        time = '2h'
        clusterOptions = '--gres=gpu:1 --tmp=200GB'
        //scratch = '$JOBFS'
        //beforeScript   = "module load ${params.module}"
        }

        withLabel: 'long_multi' {
            cpus = 16
            memory = '100 GB'
            queue = 'skylake'
            time = '7d'
            clusterOptions = '--tmp=200GB'
            scratch = '$JOBFS'
            //beforeScript   = 'module load ${params.module}'

        }

    }
