// Obtain current hostname
def hostname = "hostname".execute().text.trim().replace("-", "")

// Check if this configuration is being loaded on the expected cluster
def expectedHostname = "csched"

if (!hostname.startsWith(expectedHostname)) {
    throw new IllegalStateException("""
    ===============================================================
    ERROR: You are trying to run the pipeline on the '${hostname}' cluster
    but the configuration is specifically for the '${expectedHostname}' cluster.
    Please ensure you're using the correct configuration/profile.
    ===============================================================
    """.stripIndent())
}

    
    module = ['java/17.0.4', 'apptainer']

    //Set up apptainer containers and mount path
    apptainer {
        enabled = true
        runOptions = '--env="CUDA_VISIBLE_DEVICES=${CUDA_VISIBLE_DEVICES}" -B /b -B /bscratch -B /homes --nv'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
    }

    env {
        APPTAINER_IMAGE_PATH = "/b/u/vishnu/SINGULARITY_IMAGES"
    }

    params {
        
        //For Database entry
        hardware = "Contra"
        apptainer_images {

        peasoup = "${env.APPTAINER_IMAGE_PATH}/peasoup_keplerian.sif"
        presto = "${env.APPTAINER_IMAGE_PATH}/pulsar-miner_turing-sm75.sif"
        pulsarx = "${env.APPTAINER_IMAGE_PATH}/pulsarx_latest.sif" 
        sql = "${env.APPTAINER_IMAGE_PATH}/compact_sql_latest.sif"   
        kafka = "${env.APPTAINER_IMAGE_PATH}/kafka_producer_latest.sif"
        pics  = "${env.APPTAINER_IMAGE_PATH}/pics_20230630_pics_model_update.sif"
        candy_picker = "${env.APPTAINER_IMAGE_PATH}/candy_picker_latest.sif"

        }
        publish_dir_prefix = "/b/u/vishnu/COMPACT/TESTING/PROCESSING"    
    }



   // HT-Condor Executor for Contra Dresden Cluster
    
    executor {
        name = 'condor'               
        queueSize = 1500               // Maximum number of jobs submitted at once
    }


    process {
        cache = 'lenient'

        withLabel: 'filtool' {
            memory = { 12.GB * task.attempt }
            time = { 4.hour * task.attempt }
            maxForks = 200
            errorStrategy = { task.exitStatus in (137..140) || task.exitStatus == 124 ? 'retry' : 'ignore' }
            maxRetries = 3
            // Force scratch = false if local_write = 0 (to prevent double copies)
            if (params.filtool.local_write == 0) {
                scratch = false  
            } 
            else {
                scratch = false
            }

        }

        withLabel: 'pulsarx' {
            cpus = 10
            memory = { 25.GB * task.attempt }
            time = { 10.hour * task.attempt }
            maxForks = 400
            errorStrategy = { task.exitStatus in (137..140) || task.exitStatus == 124 ? 'retry' : 'ignore' }
            maxRetries = 3
            

        }

        withLabel: 'peasoup' {
            cpus = 1
            memory = { 50.GB * task.attempt }
            time = { 10.hour * task.attempt }
            clusterOptions = 'request_gpus = 1'
            maxForks = 160
            errorStrategy = { task.exitStatus in (137..140) || task.exitStatus == 124 ? 'retry' : 'terminate' }
            maxRetries = 3

        }

         withLabel: 'pics' {
            cpus = 8
            memory = { 4.GB * task.attempt }
            time = { 2.hour * task.attempt } 
            maxForks = 300
            errorStrategy = { task.exitStatus in (137..140) || task.exitStatus == 124 ? 'retry' : 'ignore' }
            maxRetries = 3


        }

        withLabel: 'post_folding_heuristics' {
            cpus = 4
            memory = { 3.GB * task.attempt }
            time = { 4.hour * task.attempt }  
            maxForks = 300
            errorStrategy = { task.exitStatus in (137..140) || task.exitStatus == 124 ? 'retry' : 'ignore' }
            maxRetries = 3


        }
         withLabel: 'candy_picker' {
            cpus = 48
            memory = 2.GB 
            time = 2.hour 
            maxForks = 300
            scratch = false // -> DO NOT TURN SCRATCH ON. candy_picker creates dynamic path and is written in a very non-nextflow way for a specific reason. $TMPFS is not supported.
            errorStrategy = 'terminate'

        }



    }
